<header class="header">
    <div class="left-section">
        <div class="logo" (click)="onClickLogo()">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
        <button class="experiences" (click)="onClickExperience()">EXPERIENCES</button>
    </div>

    <div class="name" (click)="onClickLogo()">
        Pierre Arnaudet
    </div>

    <div class="social-links">
        <a href="https://www.linkedin.com" target="_blank">
            <img src="assets/images/ideograms/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="assets/images/ideograms/instagram.svg" alt="Instagram">
        </a>
        <a href="mailto:pierrearnaudet@gmail.com">
            <img src="assets/images/ideograms/mail.svg" alt="Contact">
        </a>
    </div>
</header>