<header class="header">
    <div class="logo" (click)="onClickLogo()">
        <img src="assets/images/logo.png" alt="Logo">
    </div>

    <div class="name">
        Pierre Arnaudet
    </div>

    <div class="actions">
        <button (click)="onClickExperience()">EXPERIENCES</button>
        <div class="social-links">
            <a href="https://www.linkedin.com" target="_blank">
                <img src="assets/images/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/images/instagram.svg" alt="Instagram">
            </a>
            <a href="mailto:pierrearnaudet@gmail.com">
                <img src="assets/images/email.svg" alt="Contact">
            </a>
        </div>
    </div>
</header>