<div class="project-grid">
  @for (project of projects; track project) {
  <div class="project-item"
    [ngClass]="'case-' + project.case"
    (click)="onClickProject(project)">
    <div class="project-image" [style.background-image]="'url(' + project.imageUrl + ')'">
      <div class="overlay">
        <div class="project-info">
          <h3>{{ project.name }}</h3>
          <p>{{ project.note }}</p>
        </div>
      </div>
    </div>
  </div>
  }
</div>

@if (showCarousel) {
<app-carousel [images]="this.carouselImages" (close)="closeCarousel()" />
}